
.ipynb_checkpoints/ltr-project-checkpoint.ipynb
other/acl17-latex/acl2017.bib
other/acl17-latex/acl2017.pdf
other/acl17-latex/acl2017.sty
other/acl17-latex/acl2017.tex
other/acl17-latex/acl_natbib.bst
other/background_reading/Adesam&Bouma.pdf
other/background_reading/Bollmann.pdf
other/background_reading/Culpeper&al.pdf
other/background_reading/Hiltunen&Tyrkko.pdf
other/background_reading/Hupkes&Bod.pdf
other/background_reading/Kulick&Ruant&Santorini.pdf
other/background_reading/Scheibe&al.pdf
other/background_reading/Yang&Eisenstein.pdf
other/UD_Polish-PDB/LICENSE.txt
other/UD_Polish-PDB/pl_pdb-ud-dev.conllu
other/UD_Polish-PDB/pl_pdb-ud-dev.txt
other/UD_Polish-PDB/pl_pdb-ud-test.conllu
other/UD_Polish-PDB/pl_pdb-ud-test.txt
other/UD_Polish-PDB/pl_pdb-ud-train.conllu
other/UD_Polish-PDB/pl_pdb-ud-train.txt
other/UD_Polish-PDB/README.md
other/UD_Polish-PDB/stats.xml
other/UD_Polish-PUD/.vs/slnx.sqlite
other/UD_Polish-PUD/.vs/UD_Polish-PUD/v17/.suo
other/UD_Polish-PUD/.vs/VSWorkspaceState.json
other/UD_Polish-PUD/LICENSE.txt
other/UD_Polish-PUD/pl_pud-ud-test.conllu
other/UD_Polish-PUD/pl_pud-ud-test.txt
other/UD_Polish-PUD/README.md
other/UD_Polish-PUD/stats.xml
